.header{
    background-color: aqua;
    height: 55px;
    display: flex;
    
}
.logo-brand{
    display: flex;
}
.logo{
    display: inline;
    
}
.logo img{
    height: 50px;
    width: auto;
}
.brand{
    display: inline;
}
.nav-tem{
    display: flex;
    justify-content: end;
    
}
.nav-item{
    display: flex;
}

